@import "../../assets/scss/vars.scss";

#page-teacher-form {
  width: 100vw;
  height: 100vh;

  .page-header {
    .header-content {
      margin-bottom: 6.4rem;
    }
  }

  main {
    background: $box-base;
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;

    fieldset {
      border: 0;
      padding: 0 2.4rem;

      +fieldset {
        margin-top: 6.4rem;
      }

      .input-block {
        +.textarea-block {
          margin-top: 2.4rem
        }
      }

      .select-block {
        +.input-block {
          margin-top: 2.4rem
        }
      }

      legend {
        font: 700 2.4rem "Archivo";
        color: $text-title;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $line-in-white;

        button {
          background: none;
          border: none;
          color: $primary;
          font: 700 1.6rem "Archivo";
          cursor: pointer;
          transition: color 0.2;

          &:hover {
            color: $primary-dark;
          }
        }
      }
    }

    footer {
      padding: 4rem 2.4rem;
      background: $box-footer;
      border-top: 1px solid $line-in-white;
      margin-top: 6.4rem;

      p {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $text-complement;

        img {
          margin-right: 2rem;
        }
      }

      button {
        background: $secondary;
        color: $button-text;

        width: 100%;
        height: 5.6rem;

        border: 0;
        border-radius: 0.8rem;

        font: 700 1.6rem "Archivo";
        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: background 0.2s;
        margin-top: 3.2rem;

        &:hover {
          background: $secondary-dark;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  #page-teacher-form {
    max-width: 100vw;

    .page-header {
      .header-content {
        margin-bottom: 0;
      }
    }

    main {
      .input-block {
        label {
          color: $text-complement;
        }
      }

      fieldset {
        padding: 0 6.4rem;
      }

      .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;

        .input-block {
          margin-top: 0 !important;
        }
      }

      footer {
        padding: 4rem 6.4rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          justify-content: space-between;
        }

        button {
          width: 20rem;
          margin-top: 0;
        }
      }
    }
  }
}