@import "../../assets/scss/vars.scss";

.teacher-item {
  background: $box-base;
  border: 1px solid $line-in-white;
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;

  >p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  footer {
    padding: 3.2rem 2rem;
    background: $box-footer;
    border-top: 1px solid $line-in-white;
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      width: 20rem;
      height: 5.6rem;
      background: $secondary;
      color: $button-text;
      border: 0;
      border-radius: 0.8rem;
      cursor: pointer;
      font: 700 1.4rem "Archivo";

      text-decoration: none;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      transition: 0.2s;

      &:hover {
        background: $secondary-dark;
      }
    }

    p {
      strong {
        color: $primary;
        font-size: 1.6rem;
        display: block;
      }
    }
  }

  header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;

    img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
    }

    div {
      margin-left: 2.4rem;

      strong {
        font: 700 2.4rem "Archivo";
        display: block;
        color: $text-title;
      }

      span {
        font-size: 1.6rem;
        display: block;
        margin-top: 0.4rem;
      }
    }
  }
}

@media (min-width: 700px) {
  .teacher-item {

    header,
    footer {
      padding: 3.2rem;
    }

    >p {
      padding: 0 3.2rem;
    }

    footer {
      p {
        strong {
          display: initial;
          margin-left: 1.6rem;
        }
      }

      a {
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
        text-decoration: none;

        img {
          margin-right: 1.6rem;
        }
      }
    }
  }
}