@import "../../assets/scss/vars.scss";

.select-block {
  position: relative;

  +.select-block {
    margin-top: 1.4rem;
  }

  label {
    font-size: 1.4rem;
  }

  select {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: $input-background;
    border: $line-in-white;
    outline: 0;
    padding: 0 1.5rem;
    font: 1.6rem "Archivo";
  }

  &:focus-within {
    &::after {
      width: calc(100% - 3.2rem);
      height: 2px;
      content: '';
      background: $primary-light;
      position: absolute;
      left: 1.6rem;
      right: 1.6rem;
      bottom: 0;
    }
  }
}