@import "../../assets/scss/vars.scss";

.textarea-block {
  position: relative;

  +.textarea-block {
    margin-top: 1.4rem;
  }

  label {
    font-size: 1.4rem;
  }

  textarea {
    width: 100%;
    height: 16rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: $input-background;
    border: $line-in-white;
    outline: 0;
    resize: vertical;
    padding: 1.2rem 1.5rem;
    font: 1.6rem "Archivo";
    min-height: 8rem;
  }

  &:focus-within {
    &::after {
      width: calc(100% - 3.2rem);
      height: 2px;
      content: '';
      background: $primary-light;
      position: absolute;
      left: 1.6rem;
      right: 1.6rem;
      bottom: 7px;
    }
  }
}